.row
  .large-1.column
  .large-6.column
    #new_group_form
    #show_user_groups
      =render(partial: 'user_groups',  object: @groups )

  .large-5.column
    #new_contest_form
      =render(partial: 'new', object: @contest)
