  <div class="row">
    <div class="large-4 columns">
      <%= image_tag('welcome1.jpg') %>
    </div>
    <div class="large-8 columns">
      <h4>Spotifriends helps you discover new music with your friends.</h4>
      <div class="row">
        <div class="large-6 columns">
          <p>What's the point of having the greatest collection of music ever known to mankind if you can't share it?</p>
        </div>
        <div class="large-6 columns">
          <p>Reminisce over old times, and create new better times. Stop living in the past son!</p>
        </div>
      </div>
    </div>
  </div>


  <!-- Third Band (Image Right with Text) -->

  <div class="row">
    <div class="large-8 columns">
      <h4>Compete with your friends and see who has the best taste in music!</h4>

      <p>Spotifriends helps you run contests to discover new music. It's pretty goddamn amazing.  </p>
      <p></p>

    </div>
    <div class="large-4 columns">
      <%= image_tag('welcome2.jpg') %>
    </div>
  </div>

<% if @current_user %>
  <%= link_to "Claim your account", new_password_path(session[:user_id]) %>
<% end %>