<!-- Footer -->

<footer class="row">
  <div class="large-12 columns"><hr />
    <div class="row">

      <div class="large-6 columns">
        <p>&copy; Copyright yo momma</p>
        <% if @auth.present? %>
          <p>Logged in as: <%= @auth.email  %> </p>
        <% end %>
      </div>

      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="http://twitter.com/khalua">Twitter</a></li>
          <li><a href="http://yerko.com">Yerko</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>

<!-- End Footer -->