<!-- Navigation -->

      <ul class="button-group round small right">
        <li><a href="/" class="button">Home</a></li>
        <% if @auth.present? %>
          <li><%= link_to('Active Contests', contests_path, :class => 'button') %></li>
          <li><%= link_to('Logout', login_path, :method => :delete, :confirm => 'Going to workout?', :class => 'button') %></li>
        <% else %>
          <li><%= link_to("Beta log in", login_path, :class => 'button') %></li>
          <li><%= link_to("Request account", new_request_path, :class => 'button') %></li>
        <% end %>
      </ul>
<!-- End Navigation -->